<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,intial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="register.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>

  <body ng-controller="myController">
    <section>
      <div class="wave wave1"></div>
      <div class="wave wave2"></div>
      <div class="wave wave3"></div>
      <div class="wave wave4"></div>
    </section>

    <div class="wrapper" name="myForm">
      <form id="form-register" ng-submit="register()" method="post">
        <h1>Register</h1>
        <div class="input-box">
          <input
            type="text"
            placeholder="Full Name"
            required
            id="fullname"
            ng-model="formName"
            name="name"
          />
          <p ng-show="!formName" class="angular-reminder">
            Please fill out this field*
          </p>
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input
            type="text"
            placeholder="Email"
            required
            ng-model="formEmail"
            name="email"
          />
          <p ng-show="!formEmail" class="angular-reminder">
            Please fill out this field*
          </p>
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input
            type="password"
            placeholder="Password"
            required
            id="password"
            ng-model="formPassword"
            name="password"
          />
          <p ng-show="!formPassword" class="angular-reminder">
            Please fill out this field*
          </p>
          <i class="bx bxs-lock-open-alt"></i>
        </div>
        <div class="input-box">
          <input
            type="password"
            placeholder="Confirm Password"
            required
            id="confirm-password"
            ng-model="formConfirm"
            name="confirmPassword"
          />
          <p ng-show="!formConfirm" class="angular-reminder">
            Please fill out this field*
          </p>
          <i class="bx bxs-lock-open-alt"></i>
        </div>
        <input type="submit" class="btn" value="Register" id="submit" />
        <div class="register-link">
          <p>
            Already have an account?
            <a href="/" class="register-button">Login</a>
          </p>
        </div>
      </form>
    </div>

    <script>
      var app = angular.module("myApp", []);
      app.controller("myController", function ($scope, $http) {
        // Fungsi untuk melakukan registrasi
        $scope.register = function () {
          // Data yang akan dikirimkan dalam permintaan registrasi
          var data = {
            name: $scope.formName,
            email: $scope.formEmail,
            password: $scope.formPassword,
            confirmPassword: $scope.formConfirm,
          };

          // Mengirim permintaan registrasi
          $http
            .post("/api/register", data)
            .then(function (response) {
              // Handle success
              console.log(response);
              alert("Registration successful!"); // Ganti dengan pesan yang sesuai
              // Redirect ke halaman setelah registrasi berhasil
              window.location.href = "/"; // Ganti dengan halaman yang sesuai
            })
            .catch(function (error) {
              // Handle error
              alert("Registration failed: " + error.data.message); // Menampilkan pesan error
              console.error("Error:", error);
            });
        };
      });
    </script>
  </body>
</html>
